body{
    background-color: black;
    color: white;

}

element.style {
    background: black;
  }
  body {
    margin-left: auto;
  display: block;
  margin: 8px;
  
  }
  body {
    color: white;
    background: black;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(51, 255, 0);
    padding: 20px;
    font-size: 32px;
    color: rgb(0, 60, 255);
}

.categoria-video{
    margin-left: 25%;
}